<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @RenderSection("CSS", false)
</head>

<body>
    @RenderBody()

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="/Scripts/jquery.signalR-1.1.4.js"></script>
    <script src="/signalr/hubs"></script>

    @RenderSection("JS", false)
</body>
</html>
