<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @RenderSection("CSS", false)
</head>

<body>
  <div id="wrapDiv">
    @Html.Partial("header")
    <div id="main" class="clearfix">
        @RenderBody()
    </div>
  </div>

    <div id="loadingDiv" class="overlay">
        <div style="position:absolute; top:5em; left:40%;
                    background-color: rgba(30, 144, 255, 0.2);
                    padding: 1em;
                    border-radius: 1em;">
            <img src="https://maxcdn.icons8.com/Color/PNG/48/Business/high_priority-48.png" title="High Priority" width="48" height="48">
            <strong>Lost connection! Please refresh the page.</strong>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.signalR-1.1.4.js")"></script>
    <script src="@Url.Content("~/signalr/hubs")"></script>
    <script src="@Url.Content("~/Scripts/common.js")"></script>
    <script src="@Url.Content("~/Scripts/datetime.js")"></script>
    <script type="text/javascript">
        $.ajaxSetup({
            cache: false
        });
    </script>
    @RenderSection("JS", false)
</body>
</html>
