<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @RenderSection("CSS", false)
</head>

<body>
    @Html.Partial("header")
    <div id="main" class="clearfix">
        @RenderBody()
    </div>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.signalR-1.1.4.js")"></script>
    <script src="@Url.Content("~/signalr/hubs")"></script>
    <script src="@Url.Content("~/Scripts/common.js")"></script>
    <script src="@Url.Content("~/Scripts/datetime.js")"></script>

    @RenderSection("JS", false)
</body>
</html>
