<div class="header clearfix">
    <div class="head-title">
        <a href="/">KMezzenger</a>
    </div>
    <div class="userinfo">
        @if (User.Identity.IsAuthenticated)
        {
            <span>Hello @User.Identity.Name</span>
            <a href="@Url.Content("~/Account/LogOff")">[Log Off]</a>
        }
        else
        {
            <a href="@Url.Content("~/Account/LogOn")">Log On</a>
        }
    </div>
</div>

<div>
    @if (ViewBag.error != null)
    {
        <span class="error">@ViewBag.error</span>
    }
    else if (ViewBag.inform != null)
    {
        <span class="inform">@ViewBag.error</span>
    }
</div>